.vscode
Learning_CPP.code-workspace
*.exe
*.sqlite
*.ipch
*.db
*.obj
*.idb
*.pdb
*.vcxproj
*.vcxproj.*
*.vcxproj.filters
*.vcxproj.user
*.log
*.exe.recipe
*.tlog
*/Debug/
/Algorithms/Project_Euler/.vs/Project_Euler/v16
/Algorithms/Project_Euler/Debug
/Algorithms/Project_Euler/Problem_1/Debug/Problem_1.tlog
*.ilk
*.iobj
*.ipdb
